/* src/components/ProductsDropdown/ProductsDropdown.css */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    font-size: 16px;
}

.menu-icon {
    margin-right: 10px;
}

.angle-icon {
    margin-left: 10px;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.category-name {
    margin-left: 10px;
}
